@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 129px;
  margin: auto; }

h1 {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 800;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: left;
  color: white; }

h2 {
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: black; }

header {
  background: url(../images/header.png) repeat;
  background-size: cover;
  padding-top: 22px;
  padding-bottom: 203px;
  position: relative; }
  header h1 {
    color: white; }
    header h1 span {
      color: #CB454D; }
  header .top_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px; }
  header .container {
    z-index: 2;
    position: inherit; }
  header .header_cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(16, 23, 44, 0) 0%, rgba(16, 23, 44, 0.395) 52.22%, rgba(16, 23, 44, 0.5) 89.6%);
    background: rgba(3, 15, 45, 0.35);
    opacity: 35; }
  header .right_info_top {
    display: flex; }
    header .right_info_top .img_top {
      margin-right: 8px; }
    header .right_info_top ul select {
      border: none;
      color: white;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 600;
      line-height: 17px;
      letter-spacing: 0em;
      text-align: center;
      text-transform: uppercase;
      appearance: none;
      background: url(../images/Vector.png) no-repeat right;
      padding-right: 8px; }
      header .right_info_top ul select:hover {
        cursor: pointer; }
      header .right_info_top ul select:focus-visible {
        outline: solid 2px #CB454D;
        cursor: pointer; }
      header .right_info_top ul select:after {
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        content: "\f0d7";
        display: inline-block; }
      header .right_info_top ul select option {
        background-color: #CB454D;
        text-transform: uppercase; }
  header .left_info_top {
    display: flex;
    justify-content: space-between; }
    header .left_info_top .social_top {
      display: flex; }
      header .left_info_top .social_top li {
        list-style: none; }
        header .left_info_top .social_top li:first-of-type {
          margin-right: 18px; }
    header .left_info_top .contacts_top {
      list-style: none;
      display: flex;
      margin-right: 50px; }
      header .left_info_top .contacts_top li {
        margin-right: 30px;
        color: white;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: center; }
        header .left_info_top .contacts_top li:first-of-type:before {
          font-family: "Font Awesome 6 Free";
          font-weight: 900;
          content: "\f095";
          margin-right: 10px;
          color: white; }
        header .left_info_top .contacts_top li:nth-of-type(2):before {
          font-family: "Font Awesome 6 Free";
          font-weight: 900;
          content: "\f0e0";
          color: white;
          margin-right: 10px; }
        header .left_info_top .contacts_top li:last-of-type:before {
          font-family: "Font Awesome 6 Free";
          font-weight: 900;
          content: "\f3c5";
          color: white;
          margin-right: 10px; }
  header .logo_info {
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px; }
    header .logo_info ul {
      display: flex; }
      header .logo_info ul li {
        list-style: none;
        margin-left: 24px; }
        header .logo_info ul li:last-of-type a:before {
          font-family: "Font Awesome 6 Free";
          font-weight: 900;
          content: "\f508";
          margin-right: 10px;
          margin-left: 40px; }
        header .logo_info ul li a {
          font-family: Montserrat;
          font-size: 14px;
          font-weight: 600;
          line-height: 17px;
          letter-spacing: 0em;
          text-align: center;
          color: white;
          display: inline-block;
          text-decoration: none;
          cursor: pointer;
          transition: 0.3s; }
          header .logo_info ul li a:before:hover {
            color: #CB454D; }
          header .logo_info ul li a:hover {
            color: #CB454D; }

.delivery_steps {
  padding-top: 135px;
  padding-bottom: 95px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1440px;
  width: 100%;
  margin: auto; }
  .delivery_steps .delivery_step {
    max-width: 710px;
    width: 100%;
    padding: 95px 60px 95px 129px;
    position: relative;
    overflow: hidden;
    background: #11192E;
    margin-bottom: 45px; }
    .delivery_steps .delivery_step:first-of-type h2 {
      color: #11192e; }
    .delivery_steps .delivery_step:first-of-type p {
      opacity: 60%;
      color: #11192e; }
    .delivery_steps .delivery_step .d_step_number p {
      opacity: 100%;
      position: absolute;
      bottom: -20%;
      right: 0;
      font-family: Montserrat;
      font-size: 144px;
      font-weight: 700;
      line-height: 176px;
      letter-spacing: 0em;
      text-align: left; }
    .delivery_steps .delivery_step:first-of-type {
      background-color: #ffffff;
      padding-right: 76px; }
    .delivery_steps .delivery_step h2 {
      margin-bottom: 45px; }
    .delivery_steps .delivery_step h2 {
      color: white; }
    .delivery_steps .delivery_step p {
      font-family: Lato;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      margin-bottom: 18px;
      color: white; }
    .delivery_steps .delivery_step .btn {
      max-width: 260px;
      width: 100%; }
      .delivery_steps .delivery_step .btn:hover {
        background: #162a60; }

.btn {
  display: inline-block;
  background-color: #CB454D;
  color: white;
  text-align: center;
  padding: 12px 21px;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  transition: 0.3s;
  cursor: pointer; }

/*# sourceMappingURL=style.css.map */
