@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;600;700;800&display=swap');
@import "contacts.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 129px;
  margin: auto;
}

h1 {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 800;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

h2 {
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
}

h3 {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

header {
  background: url(../images/header.png) repeat;
  background-size: cover;
  padding-top: 22px;
  padding-bottom: 203px;
  position: relative;

  h1 {
    color: white;

    span {
      color: #CB454D;
    }
  }

  .top_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
  }

  .container {
    z-index: 2;
    position: inherit;
  }

  .header_cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,
            rgba(16, 23, 44, 0) 0%,
            rgba(16, 23, 44, 0.395) 52.22%,
            rgba(16, 23, 44, 0.5) 89.6%);
    background: rgba(3, 15, 45, 0.35);
    opacity: 35;
  }

  .right_info_top {
    display: flex;

    .img_top {
      margin-right: 8px;
    }

    ul {
      select {
        border: none;
        color: white;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: center;
        text-transform: uppercase;
        appearance: none;
        background: url(../images/Vector.png) no-repeat right;
        padding-right: 8px;

        &:hover {
          cursor: pointer;
        }

        &:focus-visible {
          outline: solid 2px #CB454D;
          cursor: pointer;
        }

        &:after {
          font-family: "Font Awesome 6 Free";
          font-weight: 900;
          content: "\f0d7";
          display: inline-block;
        }

        option {
          background-color: #CB454D;
          text-transform: uppercase;
        }
      }
    }
  }

  .left_info_top {
    display: flex;
    justify-content: space-between;

    .social_top {
      display: flex;

      li {
        list-style: none;

        &:first-of-type {
          margin-right: 18px;
        }
      }
    }

    .contacts_top {
      list-style: none;
      display: flex;
      margin-right: 50px;

      li {
        margin-right: 30px;
        color: white;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: center;

        &:first-of-type:before {
          font-family: "Font Awesome 6 Free";
          font-weight: 900;
          content: "\f095";
          margin-right: 10px;
          color: white;
        }

        &:nth-of-type(2):before {
          font-family: "Font Awesome 6 Free";
          font-weight: 900;
          content: "\f0e0";
          color: white;
          margin-right: 10px;
        }

        &:last-of-type:before {
          font-family: "Font Awesome 6 Free";
          font-weight: 900;
          content: "\f3c5";
          color: white;
          margin-right: 10px;
        }
      }
    }
  }

  .logo_info {
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;

    ul {
      display: flex;

      li {
        list-style: none;
        margin-left: 24px;

        &:last-of-type a:before {
          font-family: "Font Awesome 6 Free";
          font-weight: 900;
          content: "\f508";
          margin-right: 10px;
          margin-left: 40px;

        }

        a {
          font-family: Montserrat;
          font-size: 14px;
          font-weight: 600;
          line-height: 17px;
          letter-spacing: 0em;
          text-align: center;
          color: white;
          display: inline-block;
          text-decoration: none;
          cursor: pointer;
          transition: 0.3s;

          &:before {
            &:hover {
              color: #CB454D;
            }
          }

          &:hover {
            color: #CB454D;
          }

        }
      }
    }
  }
}

.delivery_steps {
  padding-top: 135px;
  padding-bottom: 95px;
  background-color: #fff;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;
  margin: auto;

  .step_block_one, .step_block_two {
    display: flex;
    justify-content: space-between;
  }

  .step_block_one {
    .delivery_step:first-of-type {
      background-color: #fff;
      margin-right: 24px;

      h2 {
        color: black;
      }

      p {
        color: black;
        opacity: 60%;
      }
    }
  }

  .step_block_two {
    .delivery_step {
      &:first-of-type {
        margin-right: 24px;
      }
    }
  }

  .delivery_step {
    max-width: 710px;
    width: 100%;
    padding: 95px 60px 95px 129px;
    position: relative;
    overflow: hidden;
    background: #11192E;
    margin-bottom: 45px;

    .d_step_number {
      p {
        opacity: 100%;
        position: absolute;
        bottom: -20%;
        right: 0;
        font-family: Montserrat;
        font-size: 144px;
        font-weight: 700;
        line-height: 176px;
        letter-spacing: 0em;
        text-align: left;
      }

    }

    h2 {
      margin-bottom: 45px;
    }

    h2 {
      color: white;
    }

    p {
      font-family: Lato;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      margin-bottom: 18px;
      color: white;
    }

    .btn {
      max-width: 260px;
      width: 100%;


    }
  }
}

.btn {
  display: inline-block;
  background-color: #CB454D;
  color: white;
  text-align: center;
  padding: 12px 21px;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    background: #162a60;
  }
}

.consultation {
  background: url(../images/consult.png) no-repeat;
  background-size: cover;
  padding-top: 95px;
  padding-bottom: 105px;
  position: relative;

  .container {
    position: inherit;
    z-index: 2;
  }

  .consult_cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(3, 15, 45, 0.35);

  }

  h3 {
    margin-bottom: 26px;
  }

  p {
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    max-width: 360px;
    width: 100%;
    margin-bottom: 25px;
  }

  span {
    color: #CB454D;
  }

  form {
    display: flex;

    .consult_phone {
      margin: 0 17px;
    }

    input {
      max-width: 155px;
      width: 100%;
      padding: 13px 19px;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      letter-spacing: 0em;
      text-align: left;
      color: black;
      border: none;
    }
  }

  button {
    max-width: 236px;
    width: 100%;
    border: none;
  }
}

.best_price {
  padding: 154px 0;
  text-align: center;

  p {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
    margin-bottom: 59px;
  }
}


footer {
  background: #11192E;
  padding-top: 35px;
  color: white;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;

  .footer_menu {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
  }

  .footer_info {
    a {
      color: white;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      letter-spacing: 0em;
      text-align: left;
      text-decoration: none;

      &:hover {
        color: #CB454D;
      }
    }

    .about {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .about_list {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      li {
        text-align: left;
        list-style: none;
        margin-top: 12px;

        &:first-of-type {
          margin-top: 11px;
        }
      }

      //margin-bottom: 35px;
    }

    .footer_services {
      margin-left: 56px;
      padding-bottom: 37px;

      p {
        margin-bottom: 11px;
      }

      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        li {
          //margin-top: 12px;

          a {
            text-decoration: none;
          }
        }
      }
    }
  }

  .logo {
    margin-right: 90px;

    img {
      display: block;
      transition: 0.5s;

      &:hover {
        animation: footer_logo 500ms 1;

      }
    }
  }

  .about_vidjet {
    a {
      display: block;
      text-decoration: none;
      color: white;

      &:first-child {
        margin-bottom: 11px;
      }

      &:hover {
        color: #CB454D;
      }
    }

    margin-bottom: 67px;

    p {
      margin-bottom: 11px;
    }
  }

  .about_social {
    p {
      margin-bottom: 11px;
    }

  }


  .footer_info {
    display: flex;
  }

  .footer_social_list {
    list-style: none;

    li:nth-of-type(2) {
      margin: 0 18px;
    }

    display: flex;
  }

  .footer_contact {
    .btn {
      width: 237px;
    }

    .main_office {
      margin-bottom: 67px;

      ul {
        list-style: none;
        max-width: 210px;
        width: 100%;

        li {
          display: flex;
          font-family: Montserrat;
          font-size: 14px;
          font-weight: 500;
          line-height: 22px;
          letter-spacing: 0em;
          text-align: left;

          &:first-of-type {
            margin: 11px 0;

            &:before {
              font-family: "Font Awesome 6 Free";
              font-weight: 900;
              content: "\f3c5";
              color: white;
              margin-right: 15px;
            }
          }

          &:last-of-type {
            &:before {
              font-family: "Font Awesome 6 Free";
              font-weight: 900;
              content: "\f0e0";
              margin-right: 15px;
            }

          }

        }
      }

      color: white;

      p {
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
      }

      span {
        display: block;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;

      }
    }

    .question {
      p {
        max-width: 280px;
        width: 100%;

        &:first-of-type {
          font-family: Montserrat;
          font-size: 24px;
          font-weight: 600;
          line-height: 29px;
          letter-spacing: 0em;
          text-align: left;
          margin-bottom: 40px;
        }

        &:last-of-type {
          font-family: Montserrat;
          font-size: 14px;
          font-weight: 400;
          line-height: 17px;
          letter-spacing: 0em;
          text-align: left;
          margin-bottom: 40px;
        }
      }
    }
  }
  .inner{
    padding: 20px 0;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
color: white;
    .container{
      display: flex;
      justify-content: space-between;
      .policy{
        display: flex;
        justify-content: space-between;
        a{
          font-family: Montserrat;
          font-size: 14px;
          font-weight: 500;
          line-height: 17px;
          letter-spacing: 0em;
          text-align: left;
          color: white;
          text-decoration: none;
          &:hover{
            text-decoration: underline;
          }
          &:last-of-type{
            margin-left: 120px;


          }
        }
      }
    }
  }
}

@keyframes footer_logo {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}



* {
  margin: 0;
  padding: 0;
  text-decoration: none
}




.logo {
  position: relative;
  z-index: 123;
  padding: 10px;
  font: 18px verdana;
  color: #6DDB07;
  float: left;
  width: 15%
}


nav {
  position: relative;
  width: 980px;
  margin: 0 auto;
}

#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a, #cssmenu #head-mobile {
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

#cssmenu:after, #cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0
}

#cssmenu #head-mobile {
  display: none
}



#cssmenu > ul > li {
  float: left
}

#cssmenu > ul > li > a {
  padding: 17px;
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #ddd;
  font-weight: 700;
}

#cssmenu > ul > li:hover > a, #cssmenu ul li.active a {
  color: #fff
}

#cssmenu > ul > li:hover, #cssmenu ul li.active:hover, #cssmenu ul li.active, #cssmenu ul li.has-sub.active:hover {
  background: #448D00 !important;
  -webkit-transition: background .3s ease;
  -ms-transition: background .3s ease;
  transition: background .3s ease;
}

#cssmenu > ul > li.has-sub > a {
  padding-right: 30px
}

#cssmenu > ul > li.has-sub > a:after {
  position: absolute;
  top: 22px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #ddd;
  content: ''
}

#cssmenu > ul > li.has-sub > a:before {
  position: absolute;
  top: 19px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #ddd;
  content: '';
  -webkit-transition: all .25s ease;
  -ms-transition: all .25s ease;
  transition: all .25s ease
}

#cssmenu > ul > li.has-sub:hover > a:before {
  top: 23px;
  height: 0
}

#cssmenu ul ul {
  position: absolute;
  left: -9999px
}

#cssmenu ul ul li {
  height: 0;
  -webkit-transition: all .25s ease;
  -ms-transition: all .25s ease;
  background: #333;
  transition: all .25s ease
}

#cssmenu ul ul li:hover {
}

#cssmenu li:hover > ul {
  left: auto
}

#cssmenu li:hover > ul > li {
  height: 35px
}

#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0
}

#cssmenu ul ul li a {
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  padding: 11px 15px;
  width: 170px;
  font-size: 12px;
  text-decoration: none;
  color: #ddd;
  font-weight: 400;
}

#cssmenu ul ul li:last-child > a, #cssmenu ul ul li.last-item > a {
  border-bottom: 0
}

#cssmenu ul ul li:hover > a, #cssmenu ul ul li a:hover {
  color: #fff
}

#cssmenu ul ul li.has-sub > a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #ddd;
  content: ''
}

#cssmenu ul ul li.has-sub > a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #ddd;
  content: '';
  -webkit-transition: all .25s ease;
  -ms-transition: all .25s ease;
  transition: all .25s ease
}

#cssmenu ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0
}

#cssmenu ul ul li.has-sub:hover, #cssmenu ul li.has-sub ul li.has-sub ul li:hover {
  background: #363636;
}

#cssmenu ul ul ul li.active a {
  border-left: 1px solid #333
}

#cssmenu > ul > li.has-sub > ul > li.active > a, #cssmenu > ul ul > li.has-sub > ul > li.active > a {
  border-top: 1px solid #333
}

@media screen and (max-width: 1000px) {
  .logo2 {
    display: none
  }
  nav {
    width: 100%;
  }
  #cssmenu {
    width: 100%
  }
  #cssmenu ul {
    width: 100%;
    display: none
  }
  #cssmenu ul li {
    width: 100%;
    border-top: 1px solid #444
  }
  #cssmenu ul li:hover {
    background: #363636;
  }
  #cssmenu ul ul li, #cssmenu li:hover > ul > li {
    height: auto
  }
  #cssmenu ul li a, #cssmenu ul ul li a {
    width: 100%;
    border-bottom: 0
  }
  #cssmenu > ul > li {
    float: none
  }
  #cssmenu ul ul li a {
    padding-left: 25px
  }
  #cssmenu ul ul li {
    background: #333 !important;
  }
  #cssmenu ul ul li:hover {
    background: #363636 !important
  }
  #cssmenu ul ul ul li a {
    padding-left: 35px
  }
  #cssmenu ul ul li a {
    color: #ddd;
    background: none
  }
  #cssmenu ul ul li:hover > a, #cssmenu ul ul li.active > a {
    color: #fff
  }
  #cssmenu ul ul, #cssmenu ul ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left
  }
  #cssmenu > ul > li.has-sub > a:after, #cssmenu > ul > li.has-sub > a:before, #cssmenu ul ul > li.has-sub > a:after, #cssmenu ul ul > li.has-sub > a:before {
    display: none
  }
  #cssmenu #head-mobile {
    display: block;
    padding: 23px;
    color: #ddd;
    font-size: 12px;
    font-weight: 700
  }
  .button {
    width: 55px;
    height: 46px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    z-index: 12399994;
  }
  .button:after {
    position: absolute;
    top: 22px;
    right: 20px;
    display: block;
    height: 4px;
    width: 20px;
    border-top: 2px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    content: ''
  }
  .button:before {
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    position: absolute;
    top: 16px;
    right: 20px;
    display: block;
    height: 2px;
    width: 20px;
    background: #ddd;
    content: ''
  }
  .button.menu-opened:after {
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    top: 23px;
    border: 0;
    height: 2px;
    width: 19px;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .button.menu-opened:before {
    top: 23px;
    background: #fff;
    width: 19px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  #cssmenu .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid #444;
    height: 46px;
    width: 46px;
    cursor: pointer
  }
  #cssmenu .submenu-button.submenu-opened {
    background: #262626
  }
  #cssmenu ul ul .submenu-button {
    height: 34px;
    width: 34px
  }
  #cssmenu .submenu-button:after {
    position: absolute;
    top: 22px;
    right: 19px;
    width: 8px;
    height: 2px;
    display: block;
    background: #ddd;
    content: ''
  }
  #cssmenu ul ul .submenu-button:after {
    top: 15px;
    right: 13px
  }
  #cssmenu .submenu-button.submenu-opened:after {
    background: #fff
  }
  #cssmenu .submenu-button:before {
    position: absolute;
    top: 19px;
    right: 22px;
    display: block;
    width: 2px;
    height: 8px;
    background: #ddd;
    content: ''
  }
  #cssmenu ul ul .submenu-button:before {
    top: 12px;
    right: 16px
  }
  #cssmenu .submenu-button.submenu-opened:before {
    display: none
  }
  #cssmenu ul ul ul li.active a {
    border-left: none
  }
  #cssmenu > ul > li.has-sub > ul > li.active > a, #cssmenu > ul ul > li.has-sub > ul > li.active > a {
    border-top: none
  }
}